<form
  [formGroup]="cursoForm"
  (ngSubmit)="onSubmit()"
  class="needs-validation"
  novalidate
>
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input
      id="nome"
      type="text"
      class="form-control"
      formControlName="nome"
      placeholder="Digite o nome do curso"
      required
    />
  </div>
  <div class="mb-3">
    <label for="descricao" class="form-label">Descrição</label>
    <input
      id="descricao"
      type="text"
      class="form-control"
      formControlName="descricao"
      placeholder="Digite a descrição"
      required
    />
  </div>
  <div class="mb-3">
    <label for="duracao" class="form-label">Duração</label>
    <input
      id="duracao"
      type="text"
      class="form-control"
      formControlName="duracao"
      placeholder="Ex: 40 horas"
      required
    />
  </div>
  <div class="d-flex justify-content-end gap-2">
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="cursoForm.invalid || formModo === EnumFormModo.Visualizacao"
    >
      {{
        !curso
          ? "Cadastrar"
          : formModo === EnumFormModo.Edicao
          ? "Atualizar"
          : "Visualizando"
      }}
    </button>
    <button type="button" class="btn btn-secondary" (click)="onCancel()">
      Cancelar
    </button>
    <!-- <button type="button" class="btn btn-outline-warning" (click)="onReset()">
      Limpar
    </button> -->
  </div>
</form>
