<h4 class="teal-text text-darken-2 login-margin-top">
  Programa de estudo de rotas!
</h4>
<p>Aplicação feita em angular para estudo de rotas</p>
<ul>
  <li>Redirecionamento</li>
  <li>Rotas aninhadas</li>
  <li>Rotas com carregamento lazy loading</li>
  <li>Rotas com parâmetros</li>
  <li>Rotas com parâmetros opcionais</li>
  <li>Rotas com parâmetros de consulta</li>
  <li>Rotas com parâmetros de fragmento</li>
  <li>Rotas com parâmetros de matriz</li>
  <li>Rotas com parâmetros de matriz aninhados</li>
  <li>Rotas com parâmetros de matriz opcionais</li>
  <li>Rotas com parâmetros de matriz de consulta</li>
  <li>Rotas com parâmetros de matriz de fragmento</li>
  <li>Rotas com parâmetros de matriz de matriz</li>
  <li>Guards</li>
  <li>Guards de autenticação</li>
  <li>Guards de autorização</li>
  <li>Guards de canActivate</li>
  <li>Guards de canActivateChild</li>
  <li>Guards de canDeactivate</li>
  <li>Guards de canLoad</li>
  <li>Guards de resolve</li>
  <li>Guards de canMatch</li>
</ul>
