<div class="logout-container center-align">
  <h5>Deseja realmente sair do sistema?</h5>
  <div class="logout-buttons">
    <button
      class="btn-large waves-effect waves-light teal darken-2"
      (click)="logout()"
    >
      <i class="material-icons left">exit_to_app</i>
      Sair
    </button>
    <button
      class="btn-large waves-effect waves-light white teal-text text-darken-2 logout-home-btn"
      (click)="cancelar()"
    >
      <i class="material-icons left teal-text text-darken-2">home</i>
      Home
    </button>
  </div>
</div>
