<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Template principal -->
<div class="main-layout">
  <!-- Coluna lateral -->

  <div class="sidebar-layout" *ngIf="mostraMenu">
    <!-- Logo alinhado ao topo -->
    <div class="sidebar-logo-panel">
      <app-logo></app-logo>
    </div>
    <!-- Lateral esquerda -->
    <div class="left-panel" *ngIf="mostraMenu">
      <app-menu-lateral></app-menu-lateral>
    </div>
  </div>

  <!-- Conteúdo principal -->
  <div class="content-area">
    <!-- Superior -->
    <div class="top-panel" *ngIf="mostraMenu">
      <app-menu-superior></app-menu-superior>
    </div>
    <!-- Área de conteúdo -->
    <div class="container">
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
